
@import url('https://fonts.googleapis.com/css?family=Varela+Round');
body{
	margin:0 auto;
	border:0;
	width:100%;
	overflow-x:hidden;
	overflow-y:scroll;
}
html, body {
    display: flow-root;
}
a {
	text-decoration:none;}
.clear{
	clear:both;}
.hover-a:hover{
	opacity:0.8;
	cursor:pointer;
	transition:.15s ease-in-out;
}
.white-text{
	color:white;}
.blue-text{
	color:#2b2b88;
		}
.blue-bg{
	background-color:#2b2b88;
}
.display-block{
	display:block;}
.white-bg{
	background-color:white;}
.light-grey {
    color: #888888;}
.width100{
	width:100%;}
.overflow{
	overflow:hidden;}
.float-left{
	float:left;}
.float-right{
	float:right;}		
.text-center{
	text-align:center;}	
.div-center{
	margin-left:auto;
	margin-right:auto;}
.margin-auto{
	margin-left:auto;
	margin-right:auto;}
.clean:focus{	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:selected{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean:active{
	outline: none !important;
	outline-offset: 0  !important;
}
.clean::selection {	
	outline: none !important;
	outline-offset: 0  !important;
}
.clean2{
	-webkit-box-shadow:none !important;
	box-shadow:none !important;		
}
.clean2:selected{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:focus{
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;	
}
.clean2:active{
	outline: none !important;
	outline-offset: 0  !important;	
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.clean2::selection {	
	outline: none !important;
	outline-offset: 0  !important;
	-webkit-box-shadow:none !important;
	box-shadow:none !important;
}
.pointer:hover{
	cursor:pointer;}
.color-black{
	color:black !important;}
.color-black:hover{
	color:white !important;}
	/*
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
    -webkit-box-shadow: 0 0 0 30px #fafeff inset !important;
}*/
.text-overflow{
    text-overflow: ellipsis;
    white-space: nowrap;
	overflow:hidden;
}
.height100{
	height:100%;}
.same-padding{
	padding-left:7.5%;
	padding-right:7.5%;}
/*Mobile Menu*/
.main {
    margin: 0 auto;
    display: block;
    height: 100%;
    margin-top: 60px;
}
.mainInner{
    display: table;
    height: 100%;
    width: 100%;
    text-align: center;
}
.mainInner div{
    display:table-cell;
    vertical-align: middle;
    font-size: 3em;
    font-weight: bold;
    letter-spacing: 1.25px;
}
#sidebarMenu {
    height: 100vh;
	overflow:scroll;
    position: fixed;
    right: 0;
    width: 250px;
    margin-top: 39px;
    transform: translateX(250px);
    transition: transform 250ms ease-in-out;
    background: black;
	padding-bottom:50px;
}
.sidebarMenuInner{
    margin:0;
    padding:0;
    border-top: 1px solid rgba(255, 255, 255, 0.10);
}
.sidebarMenuInner li{
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid rgba(255, 255, 255, 0.10);

}
.sidebarMenuInner li span{
    display: block;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.50);
}
.sidebarMenuInner li a{
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
	font-size: 12px !important;
}
input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

.openSidebarMenu{
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    right: 7.5%;
    height: 22px;
    width: 22px;
	display:none;
}
.spinner {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}
.horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
.diagonal.part-1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}
.diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .horizontal {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(135deg);
    margin-top: 8px;
}
input[type=checkbox]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-135deg);
    margin-top: -9px;
}
	
/*Start */
.logo-img {
	width:auto !important;
    height: 20px !important;	
}
.logo-img:hover{
	opacity:0.85;
	transition:.15s ease-in-out;
	cursor:pointer;}
.menu-color {
    background-color: black;
    padding-top: 15px;
    padding-bottom: 15px;
}
.middle-menu-div a {
    color: white;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
}
.login-a{
	padding-right:20px;
	cursor:pointer;}
.login-a:hover{
	cursor:pointer;}
.left-logo-div {
    width: 100px;
}
.middle-menu-div {
    width: calc(100% - 250px);
    text-align: center;
}
.white-to-yellow{
	color:white;}
.white-to-yellow:hover{
	color:#ffd300;}
.yellow-text{
	color:#ffd300;}
.div-div {
    background-color: #ffd300;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
}
.div-div:hover {
    background-color: white;
	cursor:pointer;
	color:black;
	transition:.15s ease-in-out;
}
.landing-first-div{
	width:100%;
	height:100vh;
	background-image:url(../img/first-bg.jpg);
	background-size:cover;
	padding-top:50px;}
.first-left-div {
    float: left;
    width: 60%;
	margin-top: calc(50vh - 200px);
}
.first-p {
    padding-bottom: 20px;
	font-weight: bold;
}
.white-button {
    background-color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 5px;
}
.white-button:hover{
	cursor:pointer;
	background-color:black;
	color:white;
	transition:.15s ease-in-out;}
.first-right-div{
	width:40%;
	float:right;
	margin-top: 5vh;}
.oil-png {
    float: right;
    height: 80vh;
}
.about-div{
	padding-top:50px;
	padding-bottom:50px;
	overflow: hidden;
	background: black;
	margin-top: -2px;
}
.title-h1 {
    margin-bottom: 0;
	text-align:center;
}
.border-p {
    height: 1px;
    border-bottom: 3px solid #ffd300;
    width: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
.yellow-text{
	color:#ffd300;}
.bold-logo {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.about-p {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
	margin-bottom: 70px;
}
.phone-p1 {
    margin-top: 5px;
    margin-bottom: 0;
}

.phone-png {
    width: 63px;
	margin-right: 17px;
}
.left-phone-div {
    margin-left: calc(50% - 133.5px);
}
.grey-div{
	background-color:#f4f4f4;	
}
.product-div{
	padding-top:50px;
	padding-bottom:50px;}
.two-product-container {
    margin-top: 50px;
}
.one-product-container {
    float: left;
    width: 50%;
}
.product-pic {
    width: 50%;
}
.product-desc {
    margin-bottom: 0;
    font-weight: bold;
	width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.price-p {
    margin-top: 5px;
}
.one-box-div {
    width: 50%;
    float: left;
	margin-bottom: 50px;
}
.icon-img {
    width: 100%;
}
.icon-div {
    float: left;
    width: 120px;
}
.benefit-div {
    margin-top: 50px;
    margin-bottom: 50px;
}
.benefit-separate {
    margin-bottom: 80px;
}
.benefit-p-div {
    display: table;
    width: calc(100% - 120px);
    float: left;
    padding-left: 50px;
    padding-right: 100px;}
.benefit-p{
    display: table-cell;
    vertical-align: middle;
    height: 120px;
	font-weight:bold;
}
.contact-us-div{
	background-image:url(../img/yellow-background3.png);
	background-size:cover;
	padding-top:100px;
	padding-bottom:150px;}
.border-black {
    height: 1px;
    border-bottom: 3px solid black;
    width: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}
.one-row-container{
	padding-top:50px;}
.left-contact-div, .middle-contact-div, .right-contact-div {
    float: left;
    width: 33.33%;
	padding-top: 50px;
    padding-bottom: 50px;
}
.middle-contact-div {
    border-left: 3px solid black;
    border-right: 3px solid black;	

}
.contact-p {
    margin-bottom: 0;
	font-weight: bold;
}
.contact-p2 {
    margin-top: 10px;
}
.contact-form-big-div {
    padding-top: 50px;
    padding-bottom: 50px;
}
.message-us-p {
    text-align: center;
    font-size: 21px;
}
.hover1b{
	display:none;}
.hover1:hover .hover1a{
	display:none;}
.hover1:hover .hover1b{
	display:inline-block;
	transition:.15s ease-in-out;}
.social-icon {
    width: 50px;
}
.fill-up-space{
	float:left;
	width:calc(50% - 100px);
	height:50px;}
.fb-icon-class {
    width: 100px;
    float: left;
	padding-right: 25px;
    padding-left: 25px;
	margin-top:20px;
}
.fb-icon{
	float:right;}
.insta-icon{
	float:left;}
.footer-div {
    background-color: black;
    text-align: center;
}
.footer-p {
    font-size: 14px;
    margin: 12px;
}
.first-h1{
	font-family: 'SF Compact Text Heavy';
}
.open-menu{
	display:none;}
.call-a{
	display:none;}
.call-function{
	display:none;}
.extra-margin {
    padding-left: 20%;
    padding-right: 20%;
}
.input-name {
    width: 100%;
    padding: 10px;
    background-color: #d1d1d1;
    border: 0;
    margin-top: 20px;
	border-radius: 2px;
}
.input-message {
    height: 100px;
}
.opt-msg {
    float: left;
    margin-top: 0;
    width: calc(100% - 25px);
}
.input-message {
    height: 100px;
    margin-bottom: 15px;
}
.input-submit {
    border: 0;
    background-color: #ffd300;
    color: black;
    padding: 10px 20px;
    border-radius: 2px;}
.input-submit:hover{
	transition:.15s ease-in-out;
	background-color:black;
	color:white;
	
}
.res-div {
    margin-left: auto;
    margin-right: auto;
    width: 165px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.radio1 {
    width: 15px;
	margin-left: 0;
}
/* The Modal (background) */
.modal-css {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/* Modal Content */
.modal-content-css {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* The Close Button */
.close-css {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  margin-top: -10px;
}

.close-css:hover,
.close-css:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.login-modal-content{
	width: 30%;
	background-color: transparent;
    border: 0;
	margin-top: calc(50vh - 200px);

}
.white-h1 {
    text-align: center;
    color: white;
}
.close-login{
	color:white;}
.input-grey-div {
    background-color: white;
    border-radius: 7px;
    width: 100%;
    overflow: hidden;
    padding: 10px 15px;
	margin-bottom: 15px;
}
.login-input-icon {
    width: 25px;
	vertical-align: bottom;
}
.login-input {
    width: calc(100% - 35px);
    height: 25px;
    margin-top: 0;
    background-color: transparent !important;
    border: 0;
    padding-left: 10px;
    padding-right: 10px;
}
.password-input{
	width: calc(100% - 65px);
}
.left-check {
    color: white;
    font-size: 14px;
	float: left;
    width: 115px;
}
.right-forgot {
    float: right;
    color: white;
    font-size: 14px;
}
.checkbox-remember-me{
	width: 13px;
    float: left;
}
.remember-me-p{
    margin-top: 1px;	
}
.yellow-button {
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    margin-top: 20px;
    background-color: #ffd300;
    border: 0;
    border-radius: 3px;
}
.yellow-button:hover{
	color:white;
	transition:.15s ease-in-out;
	cursor:pointer}
.yellow-link{
    color: #ffd300;
    text-decoration: underline;}
.link-container{
	margin-top:20px;}
.yellow-link:hover{
	cursor:pointer;
	color:white;
	transition:.15s ease-in-out;}
.forgot-password-a:hover{
	cursor:pointer;
	color:#ffd300;
	transition:.15s ease-in-out;
	}
.menu-link-container {
    width: 100%;
    text-align: center;
	margin-bottom: 15px;
}
.menu-h1 {
    text-align: center;
	font-size: 27px;
    padding-left: 15px;
}
.mobile-menu {
    color: black;
    font-size: 18px;
}
.mobile-menu:hover{
	cursor:pointer;
	color:#ffd300;}
.menu-modal-content {
    margin-top: calc(50vh - 308px);
}
.register-modal-content {
    background-color: transparent;
    border: 0;
    margin-top: calc(50vh - 250px);
}
.cart-img {
    width: 20px;
	margin-left: 20px;
	vertical-align: bottom;
}
.menu-icon{
	display:none;}
.dropdown-img{
    width: 12px;
    margin-top: -3px;
	margin-left:15px;
}

/*Dropdown*/
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  border-radius: 5px;
  right: 0;
  position: absolute;
  background-color: #ffd300;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 8px 16px;
  z-index: 1;
  color:black;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-a{
	color:black;
	margin-left:5px;}
.dropdown-img{
	margin-right:10px;}
/*End of Dropdown*/
.dropdown-img2{
	vertical-align: bottom;
	margin-right:10px;
	margin-left:0;
}
.dropdown-p:hover{
	opacity:0.85;
	transition:.15s ease-in-out;
	cursor:pointer;}
.dot-div {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #ffd300;
    position: absolute;
    margin-left: -5px;
}
.middle-menu-after-login{
	width: calc(100% - 225px);
}
.yellow-body{
	background-color:#ffd300;
	background-image:url(../img/yellow-bg.jpg);
	background-size:cover;
	width:100%;
	min-height:calc(100vh - 40px);
	overflow:hidden;
	padding-bottom: 50px;
	margin-top: -2px;
}
.padding-from-menu{
	padding-top:100px;}
.email-verified-modal-content {
    width: 50%;
    margin-top: calc(50vh - 75px);
}
.profile-div {
    width: 200px;
	height:200px;
	background-image:url(../img/profile.jpg);
	background-size:cover;
}
.edit-profile-pic-btn {
    width: 100%;
    border: 0;
    background-color: #0000004f;
	padding: 10px 8px;
	margin-top: 160px;
}
.camera-icon {
    width: 20px;
	vertical-align: bottom;
    margin-right: 5px;
}
.left-profile-div {
    width: 200px;
    float: left;
}
.edit-profile-icon {
    width: 15px;
	margin-right:5px;
}
.profile-a{
	color: black;
    font-size: 14px;
	text-decoration:none;
}
.profile-a:hover{
	text-decoration:none;
	color:black;
	opacity:0.85;
	transition:0.25s ease-in-out;}
.edit-profile-p{
	margin-top:10px;}
.edit-profile-p:hover{
	opacity:0.85;
	transition:.15s ease-in-out;}
.right-profile-div{
	float:left;
	padding-left:50px;
	width:calc(100% - 200px);
	padding-bottom:50px !important;}
.profile-tab-a {
    font-size: 21px;
    color: black;
    margin-right: 30px;
}
.profile-tab-a:hover{
	cursor:pointer;
	transition:.15s ease-in-out;
	opacity:0.75;
	
}

.active-tab-a {
    border-bottom: 4px solid black;
}
.active-tab-a:hover{
	border-bottom: 6px solid rgba(0, 0, 0, 0.75);
}
.profile-tab {
    border-bottom: 1px solid black;
    padding-bottom: 2px;
}
.mobile-phone{
	display:none;}
.profile-title {
    margin-bottom: 5px;
}
.username {
    margin-bottom: 40px;
}
.profile-td1 {
    width: 90px;
}
.profile-td2 {
    padding-right: 5px;
}
.profile-table td{
	vertical-align:top;}
.notice-modal-content {
    margin-top: calc(50vh - 85px);
    width: 50%;
}
.edit-profile-div1 {
    width: 100%;
}
.edit-profile-div2 {
    width: 40%;
	padding-bottom: 50px;}
.edit-profile-input {
    background: none !important;
    border: 0;
    border-bottom: 1px solid black;
    width: 100%;
	background-color:transparent !important;
	background-image:none !important;
	box-shadow:none !important;
	-webkit-box-shadow:none !important;
	-webkit-appearance: none !Important;
}
.edit-profile-table {
    width: 100%;
}

.edit-profile-table .profile-tr {
    height: 35px;
}
.black-button{
	background-color:black;
	border:0;
	color:white;
	
}
.confirm-btn{
    font-size: 18px;
    padding: 10px 40px;
    border-radius: 5px;
    margin-top: 30px;
}
.change-password-p {
    width: 146.75px;
    text-align: center;
	padding-bottom: 50px;
}
.edit-password-a {
    color: black;
    text-decoration: underline;
}
.edit-password-a:hover{
	color:white;
	transition:.15s ease-in-out;}
.black-button:hover{
	cursor:pointer;
	background-color:white;
	color:black;
	transition:.15s ease-in-out;}
.password-table .profile-td1 {
    width: 180px;
}
/*
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 0 !important;
  -webkit-box-shadow:inset 0 1px 1px rgba(255, 255, 255, 0);

}*/
.reset-password-div {
    width: 35%;
    margin-left: auto;
    margin-right: auto;
}
.submit-black {
    width: 100%;
    font-size: 17px;
    padding: 15px 10px;
    border-radius: 5px;
	background-color:black;
	color:white;
	border:0;
}
.submit-black:hover{
	cursor:pointer;
	opacity:0.85;
	transition:.15s ease-in-out;}
.visible-span2 {
    position: absolute;
    margin-left: -30px;
    margin-top: -5px;
}
.password-table .edit-profile-input{
	padding-right:35px;}
.black-reward-div {
    overflow: hidden;
    background-color: black;
    margin-top: 30px;
    padding: 20px 30px;
}
.star-span {
    vertical-align: sub;
}
.white-star {
    width: 25px;
    margin-right: 15px;
}
.title-h3 {
    margin: 0;
    color: white;
}
.point-h1 {
    color: white;
}
.black-left-div {
    float: left;
    width: calc(100% - 160px);
}
.black-right-div{
	float:right;
	width:160px;}
.three-white-div {
    background: white;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    text-align: center;
    font-weight: 600;
}
.white-reward-div {
    margin-top: 0;
    background-color: white;

}
.three-white-div:hover{
	cursor:pointer;
	transition:.15s ease-in-out;
	background-color:#fbce03;}
.black-div-btn {
    background-color: black;
    color: white;
}
.discount-png {
    width: 70px;
    margin-right: 15px;
}
.referral-code {
    font-weight: 600;
    font-size: 21px;
	float: left;}
.invite-icon {
    width: 13px;
}
.invite-div {
    width: 150px;
    font-size: 16px;
    text-align: center;
    padding: 6px;
	float: left;
}
.spacing-div {
    margin-top: 10px;
    margin-bottom: 10px;
    overflow: hidden;
}
.referee-table {
    width: 100%;
    background-color: white;
	border-collapse: collapse;
}
.round-profile {
    width: 30px;
    border-radius: 50%;
	vertical-align: middle;
}
.referee-table th{
	text-align:left;}
.round-icon {
    width: 30px;
    margin-right: 20px;
}
.tr-b{
	background-color:#f8f8f8;
}
.referee-table td, .referee-table th{
	padding-top:10px;
	padding-bottom:10px;
	padding-left}
.table-checkbox {
    width: 20px;
    height: 20px;}
.round-icon:hover{
	cursor:pointer;
	opacity:0.85;
	transition:.15s ease-in-out;}
.spacing-div {
    margin-top: 20px;
    margin-bottom: 20px;}
.left-btm {
    float: left;
    width: 180px;
}
.right-btm {
    width: 180px;
    float: right;
	text-align: right;
}
.middle-btm {
    float: left;
	text-align: center;
    width: calc(100% - 360px);
	margin-top: 16px;
}
.prev-png {
    width: 25px;
	vertical-align: bottom;
}
.float {
    display: inline-block;
}
.page {
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
}
.page-p {
    margin: 0;
    margin-top: 3px;
}
.active-page{
	background-color:black;
	color:white;}
.page:hover{
	cursor:pointer;
	transition:.15s ease-in-out;
	background-color:black;
	color:white;	
	}
.active-page:hover{
	color:#ffd300;}
.prev-png:hover{
	cursor:pointer;
	opacity:0.65;
	transition:.15s ease-in-out;}
.page-select{
	background-color: transparent;
    border: 0;
    font-size: 16px;}
.table-wrapper {
  position:relative;
  margin-top: 50px;
}
.table-scroll {
	overflow-y:auto;}
.faq-div{
	padding-top:100px;
	min-height:calc(100vh - 40px);
	overflow:hidden;}
.faq-img {
    width: 100px;
}
.big-h1 {
    font-family: 'SF Compact Text Heavy';
    font-size: 42px;
}
.faq-grey-div {
    width: 60%;
    overflow: hidden;
    background-color: #d6d4d4;
    margin-left: auto;
    margin-right: auto;
	border-radius: 10px;
	padding-top: 10px;
    padding-bottom: 10px;
	
}
.faq-container{
	overflow:hidden;
	padding-bottom:30px;}
.left-faq-icon-div {
    float: left;
    width: 60px;
    height: 100%;
    padding: 10px;}
.middle-faq-div {
    float: left;
    padding-left: 20px;
    padding-top: 10px;
    /* font-family: 'SF Compact Text Heavy'; */
    font-size: 18px;
	width: calc(100% - 120px);
    text-align: left;
}
.right-faq-div {
    float: right;
    padding: 10px;
    width: 60px;
}
.plus-icon {
    width: 40px;
	padding:5px;
}
.answer-div {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: 10px 80px;
}
.answer-p {
    text-align: left;
}
.answer1-table {
    width: 100%;
    text-align: left;
}
.answer1-table td {
    background-color: black;
    color: white;
    padding: 10px;
	border-right: 8px solid;
    border-bottom: 8px solid;
}
.answer1-table th {
	padding-bottom:10px;
}
.show-button {
    background: none;
    border: 0;
	padding: 0;
}
.plus-icon:hover{
	cursor:pointer;}
.black-text{
	color:black;}
.left-product-div {
    float: left;
    width: 180px;
}
.big-product-css{
    width:100%;}
.big-product-css-for-cart{
    width:120px;}
.right-product-div {
    float: left;
    width: calc(100% - 180px);
	padding-left: 50px;
	padding-right: 10%;
}
.black-link-underline {
    text-decoration: underline;
    color: black;
}
.black-link-underline:hover{
	cursor:pointer;
	color:white;
	transition:.15s ease-in-out;}
input.math-input {
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 10px;
}

input.math-input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}

input.math-input::-webkit-outer-spin-button,
input.math-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.input-group {
  clear: both;
  margin: 15px 0;
  margin-top: 40px;
  position: relative;
}
.math-button {
    border: 0;}
.math-button:hover{
	cursor:pointer;}
.input-group input[type='button'] {
  background-color: #000000;
  min-width: 38px;
  width: auto;
  transition: all 300ms ease;
  color:white;
}

.input-group .button-minus,
.input-group .button-plus {
  font-weight: bold;
  height: 38px;
  padding: 0;
  width: 38px;
  position: relative;
  font-size: 18px;
}

.input-group .quantity-field {
  position: relative;
  height: 38px;
  left: -6px;
  text-align: center;
  width: 62px;
  display: inline-block;
  font-size: 18px;
  margin: 0 0 5px;
  resize: vertical;
}

.button-plus {
  left: -13px;
}

input.math-input[type="number"] {
  -moz-appearance: textfield;
  -webkit-appearance: none;
}
.add-to-cart-btn {
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 3px;
}
.product-modal-content {
    margin-top: 10vh;
    margin-bottom: 10vh;
    height: 80vh;
    overflow: auto;
	padding: 20px 50px;
}
.tempo-clear{
	clear:both;}
.invite-div:hover{
	cursor:pointer;
	transition:.15s ease-in-out;
	color:#ffd300;}
.invitation-link-a {
    word-break: break-all;
}
.big-product-div {
    width: 180px;
    float: left;
	margin-bottom: 50px;
}
.back-btn {
    width: 20px;
}
.back-btn:hover{
	cursor:pointer;
	transition:.15s ease-in-out;
	opacity:0.75;}
.border-div-bk {
    border-top: 3px solid black;
	border-bottom: 3px solid black;
}
.cart-table{
	text-align:left;
	font-size: 18px;
	width: 100%;}
.product-td {
    width: 150px;
}
.cart-table th {
    line-height: 60px;
}
.product-pic2{
	width:100%;}
.delete-img:hover{
	cursor:pointer;
	transition:.15s ease-in-out;
	opacity:0.85;}
.transparent-group input[type='button'] {
    background-color: transparent;
    min-width: 38px;
    width: auto;
    transition: all 300ms ease;
    color: black;
}
.continue-shopping {
    font-size: 21px;
}
.left-cart-bottom-div {
    float: left;
}
.right-cart-div {
    float: right;
}
.checkout-btn{
	float: right;}
.quantity-td {
    min-width: 130px;
}
.res-div .input-submit{
	font-family: 'SF Compact Text Heavy';
}
.border-announcement{
	border-top:3px solid black;}
.announcement-p {
    font-size: 21px;
	padding-left: 32px;
}
.announcement-icon {
    height: 25px;
}
.left-status-div {
    width: 50%;
    float: left;
	background-color: #ffd300;
    background-image: url(../img/yellow-bg.jpg);
    background-size: cover;
	min-height: calc(100vh - 40px);
	overflow: hidden;
    padding-left: 7.5%;
    padding-top: 80px;
	padding-bottom: 50px;
	padding-right: 50px;
}
.right-status-div {
    width: 50%;
    float: left;
	background-color:black;
	overflow: hidden;
    padding-right: 7.5%;
    padding-top: 80px;
	padding-bottom: 50px;
	padding-left:50px;
}
.flex-container {
    display: flex;
}
.black-round-div{
	display: inline;
    background-color: black;
    padding-bottom: 3px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 50%;
	margin-right: 8px;
}
.status-div {
    float: left;
    padding-left: 2%;
    padding-right: 2%;
}
.check-out-status {
    display: inline;
}
.status-container {
    display: inline;
    float: left;
}
.yellow-tick {
    width: 8px;
}
.status-a {
    color: black;
}
.status-a:hover{
	color:white;
	transition:.15s ease-in-out;}
.white-round-div {
    display: inline;
    background-color: white;
    color: #fbce03;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 6px;
    padding-right: 8px;
    border-radius: 50%;
	margin-right: 8px;
}
.check-out-status {
    display: inline-block;
    width: 100%;
    padding-bottom: 20px;
}
.fake-link{
	color:white;}
.fake-link:hover{
	transition:.15s ease-in-out;
	opacity:0.65;
	cursor:pointer;}
.white-input {
    border: 0;
    width: 85.5%;
    padding: 9px;
	margin-bottom: 15px;
}
.info-title {
    margin-top: 50px;
}
.half-white-input {
    width: 41.5%;
}
.left-half{
	margin-right:2%;}
.spacing2 {
    margin-top: 20px;
}
.back-btn {
    width: 15px;
}
.continue2 {
    font-size: 18px;
}
.add-to-cart-btn2{
	padding: 10px 25px;
}
.two-box-input {
    width: 100%;
}
.two-box-input-double {
    width: 48%;
	float: left;
}
.product-amount-dot{
	display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffd300;
    position: absolute;
    margin-left: -10px;
	margin-top: -10px;
}
.info-amount-p {
    margin: 0;
    margin-left: 5px;
}
.info-table{
	width:100%;
	border-collapse: collapse;}
.product-price-td {
    text-align: right;
}
.info-product-pic {
    max-width: 100px;
	max-height: 100px;
}
.product-tr{
	height: 130px;
}
.calc-tr {
    height: 40px;
}
.smaller-text {
    font-size: 12px;
}
.right-cell {
    text-align: right;
}
.short-input {
    margin-left: 10px;
    width: 70px;
}
.voucher-select {
    min-width: 70px;
}
.white-border-top{
	border-top:1px solid white;}
.two-white-border{
	border-top:1px solid white;
	border-bottom:1px solid white;		
}
.right-part{
	float:right;}
.status-a:hover .black-round-div{
	background-color:white;
	transition:.15s ease-in-out;}
.white-input-div {
    background-color: white;
    width: 100%;
    padding-left: 10px;
	margin-bottom: 15px;
}
.grey-p {
    font-size: 14px;
    color: grey;
    width: 80px;
    float: left;
    margin-top: 10px;
    margin-bottom: 0;
}
.middle-input {
    margin-bottom: 0;
    width: calc(100% - 80px);
}
.black-white-link{
	color:black;}
.black-white-link:hover{
	opacity:0.75;
	transition:.15s ease-in-out;}
.white-select {
    width: 97.5%;
    border: 0;
    padding-top: 10px;
    padding-bottom: 10px;}
.payment-white-div {
    padding-top: 10px;
    padding-bottom: 10px;
	padding-right: 10px;
}
.radio-image {
    width: 100px;
	margin-left: 10px;
}
.payment-radio{
	vertical-align:super;}
.payment-radio-baseline{
	vertical-align: baseline;
}
.payment-white-div p{
	padding-left: 25px;
}
.left-completed, .right-completed {
    float: left;
}
.right-completed {
    margin-left: 15px;
}
.completed-p1 {
    margin-top: 5px;
    margin-bottom: 0;
}
.completed-p {
    margin-top: 5px;
}
.left-customer {
	width: 50%;
    float: left;
}
.right-customer {
	width: 50%;
    float: left;
}
.completed-div{
	overflow:hidden;}
.left-profile-div-user {
    float: left;
}
.right-profile-div-transfer {
    float: right;
}
.voucher-icon {
    width: 40px;
}
.voucher1 {
    margin-left: 10px;
}
.right-profile-div-transfer {
    float: right;
    margin-top: 10px;
}
.left-profile-div-user {
    float: left;
    width: calc(100% - 95px);
}
.left-profile-div-user .username{
	margin-bottom: 20px;
}
.withdraw-modal-content{
	margin-top: calc(50vh - 250px);
}
.left-points-div {
    float: left;
	width: calc(100% - 91px);
}
.right-rm-div {
    padding-top: 3px;
    float: right;
    border-left: 1px solid #c1c1c1;
    padding-left: 5px;
    text-align: right;
}
.close-withdraw:hover{
	color:white;}
.border-top100 {
    width: 100%;
    border-top: 2px solid black;
}
.h1-before-border {
    margin-bottom: 5px;
}
.four-div-container {
    padding-top: 30px;
}
.four-white-div {
    background-color: white;
    width: 22%;
    float: left;
    text-align: center;
    padding: 30px 20px;
    border-radius: 10px;
	padding-bottom: 10px;
}
.four-white-div:hover{
	cursor:pointer;
	transition:.15s ease-in-out;
	background-color:black;
}
.four-white-div:hover .four-div-p{
	color:white;
	transition:.15s ease-in-out;}
.four-middle-div1 {
    margin-left: 4%;
    margin-right: 2%;
}
.four-middle-div2 {
    margin-left: 2%;
    margin-right: 4%;
}
.extra-mtop2{
	margin-top: 50px;
}
.sales-table {
    width: 100%;
	border-collapse:collapse;
	font-size: 21px;
}
.sales-table th{
	text-align:left;}
.sales-table tr{
	height: 50px;
}
.sales-table .right-cell{
	text-align:right;}
.sales-th-tr {
    border-top: 2px solid black;
	border-bottom: 2px solid black;
}
.double-border{
    border-top: 2px solid black;
	border-bottom: 2px solid black;	
}
.four-white-div{
	min-height:215px;
}
.four-div-p{
	margin-bottom:0;}
.right-menu-div1 {
    width: calc(100% - 110px);}
.open-menu-admin{
	display:none;}
.menu-admin-modal-content{
	margin-top: 10vh;}
.announcement-h1 {
    float: left;
}
.right-add-btn {
    float: right;
	margin-top: 15px;
	margin-left: 0 !important;
}
.right-add-btn a{
	color:white;}
.right-add-btn:hover{
	color:black;
	transition:.15s ease-in-out;}
.right-add-btn:hover .add-a{
	color:black;
	transition:.15s ease-in-out;	
}
.extra-mtop3 {
    margin-top: 10px;
}
.announcement-table{
	width:100%;
	border-collapse:collapse;}
.announcement-table th{
	text-align:left;}
.announcement-table tr{
	border-bottom:1px solid black;}
.no-padding-left{
	padding-left:0;}
.thicker-border{
	border-bottom:3px solid black !important;
	border-top:3px solid black !important;
	height: 50px;}
.edit-anc-btn {
    background: none;
    border: 0;}
.edit-anc-btn:hover{
	cursor:pointer;}
.edit-announcement-img {
    width: 25px;
}
.announcement-table tr{
	height:50px;}
.anc-textarea {
    width: 100%;
    min-height: 120px;
    margin-top: 30px;
    font-size: 18px;
    padding: 5px;
}
.red-button {
    border: 0;
    background-color: red;
	margin-right: 20px;
}
.red-button:hover{
	cursor:pointer;
	transition:.15s ease-in-out;
	background-color:white;
	color:black;	
}
.back-a2 {
    margin-left: 50px;
    font-size: 21px;
    color: black;
}
.back-a2:hover{
	cursor:pointer;
	color:white;
	transition:.15s ease-in-out;}
.white-button {
    border: 0;
    color: black;
}
.margin-right20{
	margin-right: 20px;}
.no-background{
	background-color:transparent;
	border:0;
	color:black;}
.no-background:hover{
	cursor:pointer;
	transition:.15s ease-in-out;
	color:white;}
.title-tab-a:hover{
	cursor:pointer;
	opacity:0.75;
	transition:.15s ease-in-out;}
.shipping-h1 {
    float: left;
}
.filter-select {
    float: right;
    border: 0;
    background: transparent;
    margin-top: 30px;
    font-size: 18px;
}
.search-container {
	width:100%;
	overflow:hidden;
}
.shipping-input, .shipping-select, .shipping-search-btn {
    font-size: 15px;
}
.shipping-select {
    padding: 2.3px;
}
.shipping-search-btn {
    padding: 3px 0;
	width: 8.5%;
}
.shipping-input {
    width: 17%;
	margin-right: 1%;
}
.normal-input {
    padding: 2.3px;
}
.search-container0 {
    margin-top: 15px;
    margin-bottom: 5px;
}
.shipping-input2 {
    width: 100%;
}
.normal-input{
    padding: 2px 0;
}
.shipping-select {
    padding: 1px 0;}
.shipping-input p{
	margin-bottom:5px;}
.three-container-div{
	display: contents;
}
.shipping-table {
    width: 100%;
	border-collapse:collapse;
}
.shipping-table th{
	text-align:left;
	border:1px solid black;	
	padding: 6px 5px;}
.shipping-table td{
	border:1px solid black;	
	padding: 6px 5px;
}
.shipping-div2 {
    margin-top: 30px;
}
.overflow-scroll-div{
	overflow:auto;}
.black-white-link2{
	color:black;	
}
.black-white-link2:hover{
	color:white;
	transition:.15s ease-in-out;
	cursor:pointer;
}
.back-btn2 {
    width: 22px;
}
.details-table {
    font-size: 18px;
	max-width: 100%;
}
.details-table td {
    padding-right: 8px;
	vertical-align: top;
}
.details-table tr {
    height: 30px;
}
.receipt-img {
    max-width: 300px;
    max-height: 500px;
}
.three-btn-container {
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.three-btn-a {
    width: 200px;
    display: inline-block;
    font-size: 16px;
    border-radius: 0;
	padding-left: 0;	
	padding-right: 0;
	padding-top:15px;
	padding-bottom:15px;	
}
.refund-btn-a {
    margin-left: 25px;
    margin-right: 25px;

}
.details-table2 {
    margin-top: 35px;
}
.details-h1 {
	margin-top: 0;
}
/* Overwrite */
.right-menu-div1 {
    float: right;
    text-align: right;
}
.right-menu-div1 .dropdown-p{
	text-align:left;	
}
.right-menu-div1 .dropdown-content a{
	text-align:left;
	color:black;}
.password-table .edit-profile-input{
    width: calc(100% - 25px);	
}
.password-table .visible-span2 {
    position:inherit;
    margin-left: -30px;
    margin-top: -22px;}
.hide{
	display:none !important;}
.ow-black-text{
	color:black !important;
}
.no-margin{
	margin:0 !important}
.m-btm-0{
	margin-bottom:0 !important;}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}
.smaller-text2 {
    display: inline-block !important;
    font-size: 13px !important;
    padding: 0 !important;
}
.bottom-big-container {
    margin-top: 20px;
}
.transparent-select {
    background-color: transparent;
    border: 0;
    font-size: 16px;
}
.left-btm-page {
    float: left;
	width: 20%;
}
.middle-btm-page {
    float: left;
	width: 65%;
	text-align: center;
}
.right-btm-page {
    float: right;
	width: 15%;
	text-align: right;
}
.round-black-page {
    background-color: black !important;
    color: white !important;
    border-radius: 50% !important;
	padding: 5px 10px!important;
	font-size: 14px !important;
	margin-left: 3.5px !important;
    margin-right: 3.5px !important;	
}
.round-white-page {
    background-color: white !important;
    color: black !important;
    border-radius: 50% !important;
	padding: 5px 10px!important;
	border:0 !important;
	font-size: 14px !important;
	margin-left: 3.5px !important;
    margin-right: 3.5px !important;
}
.middle-btm-page a{
	margin-right: 15px;
}
.middle-btm-page a:hover{
	cursor:pointer;
	transition:.15s ease-in-out;	
}
.round-black-page:hover{
	cursor:pointer !important;
	transition:.15s ease-in-out !important;
	background-color: white !important;
    color: black !important;}
.round-white-page:hover{
	cursor:pointer !important;
	transition:.15s ease-in-out !important;
    color: white !important;
}
.white-receipt {
    width: 30px;
}
table th{
	vertical-align: text-top;}
.comp-btn {
    margin-top: 15px;
}
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
  cursor:pointer;	
}
.upload-btn-wrapper:hover{
	cursor:pointer;	
	transition:.15s ease-in-out;	}
.upload-btn {
    border: 0;
    color: white;
    background-color: black;
    padding: 8px 20px;
    border-radius: 2px;
	margin-top: 20px;
	cursor:pointer;	
}
.upload-btn:hover{
	cursor:pointer;
	background-color:white;
	color:black;
	transition:.15s ease-in-out;}
.hidden-input:hover{
	cursor:pointer;	
	transition:.15s ease-in-out;	}
.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor:pointer;	
}
.same-height-with-date {
    padding-top: 4px;
    padding-bottom: 4px;
}
.three-input {
    width: 32% !important;
}
.fifty-input {
    width: 50%;
    margin-bottom: 15px;
}
.reason-textarea {
    padding: 4px !important;
    min-height: 100px;
}
.ow-mbtm {
    margin-bottom: 0 !IMPORTANT;
}
.ow-mbtm-reason {
    margin-bottom: 8px !important;
}
.payout-table th {
    border: 0;
}
.payout-table td {
    border: 0;
}
.payout-th-tr, .total-tr{
	border-top:2px solid black;
	border-bottom:2px solid black;
}
.same-height-with-date2 {
    padding-top: 5px;
    padding-bottom: 5px;
}
.h1-with-select {
    float: left;
}
.select-with-h1 {
    float: right;
    margin-top: 30px;
}
.same-height-with-date3 {
    padding: 3.1px 0;
}
.table-subtitle {
    font-weight: 900;
    font-size: 18px;
}
.product-add-btn {
    float: right;
    width: 100px;
    text-align: center;
    padding: 4px;
    margin-top: 26px;
}
.link-to-details:hover{
	cursor:pointer;}
.product-table td:hover{
	cursor:pointer;}
.product-det p {
    margin: 0;
}
.product-input {
    border: 0;
    padding: 7px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 35px;
}
.short-desc {
    min-height: 100px;
}
.product-details {
    min-height: 250px;
}
.left50 {
    float: left;
    width: 46%;
}
.right50 {
    margin-left: 8%;
}
.product-det .details-h1 {
    margin-bottom: 50px;
}
.admin-add{
	margin-right:20px;}
.access-level {
    padding-bottom: 10px;
    padding-top: 25px;
}
.td1 {
    padding: 0;
}
.admin-checkbox-table {
    margin-left: -8px;
	width:100%;
}
.admin-checkbox-table td{
	width:50%;}
.td2 {
    padding-left: 4.5%;
}
.distance-bit {
    width: 100%;
    height: 15px;
}
.admin-big-div table{
	border-collapse:collapse;}
.admin-big-div td {
    padding-bottom: 10px;
	vertical-align: top;
}
.admin-big-div input{
	margin:0;
	margin-right:8px;}
.admin-big-div select{
	margin:0;}
.admin-big-div .left50 p{
	margin-bottom:10px;
	margin-top:20px;}
.same-padding-p{
	margin-bottom: 10px !important;
    margin-top: 20px !important;
}
.width90 {
    width: calc(100% - 35px);
    margin-bottom: 20px;
}
.width90 p{
	margin-bottom:5px;	
}
.reason-det p {
    margin-bottom: 10px;
    margin-top: 25px;
}
.reason-det .product-input {
    width: calc(100% - 45px);
}
.dustbin {
    width: 25px;
    vertical-align: middle;
}
.reason-add-btn {
    width: 100px;
    margin-top: 20px;
    text-align: center;
    padding: 3px;
}
.edit-profile-pic-btn:hover{
	cursor:pointer;
	transition:0.25s ease-in-out;
	opacity:0.85;}
.update-h2 {
    margin-bottom: 30px;
	margin-top: 0;
}
.upload-blue-btn{
	width:150px;}
.overwrite-imagetj{
	display: inherit !important;
    position: relative !important;
    height: auto !important;
}
.ow-update-pic-btn {
    width: 200px !important;
    position: absolute !important;
    margin-left: -100px !important;
    margin-top: -40px !important;
}
.paddingleft0{
	padding-left:0;}
.partb-div .left-profile-div{
	display:none;}
.crop-div{
	width:100% !important;}	
.crop-div .uploaded-img{
	max-width:100% !important;
	height:auto !important;}
.crop-div .jcrop-holder{
	width:100% !important;
	background-color: transparent !important;}
.three-point-div {
    float: left;
    width: 30%;
    background-color: #f3b918;
    border-radius: 10px;
    padding: 0 20px;
	text-align: center;
}
.middle-point-div {
    margin-left: 5%;
    margin-right: 5%;
}
.three-point-div p {
    font-size: 27px;
}
.dropdown-png {
    width: 10px;
    position: absolute;
    margin-left: -15px;
    margin-top: 5px;
}
.width50 {
    width: 48%;
    float: left;

	text-align:center;
}
.white50div{
    background-color: #f3b918;
    border-radius: 10px;
    padding:10px 20px;	
	margin-bottom: 20px;
}
.second-width50 {
    margin-left: 4%;
}
.withdraw-button {
    width: 48%;
    background-color: black;
    color: white;
    float: left;
    font-size: 18px;
    padding: 10px 0;
    border-radius: 5px;
	font-weight:bold;
}
.convert-button {
    width: 48%;
    float: left;
    font-size: 18px;
    padding: 10px 0;
    border-radius: 5px;
    background-color: #ffebb3;
    margin-left: 4%;
    font-weight: bold;
}
.transfer-button {
    width: 48%;
    background-color: black;
    color: white;
	text-align:center;
	margin:0 auto;
    font-size: 18px;
    padding: 10px 0;
    border-radius: 5px;
	font-weight:bold;
}
.user-ic-span{
	float: left;
}
.user-ic-p{
	float: left;
    margin: 0;
    padding-top: 5px;
    font-size: 14px;
}
.selected-user{
	background-color: #ffd300;
}

/* The container */
.container-x {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 0;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-top: 5px;
  padding-bottom: 3px;
}

/* Hide the browser's default checkbox */
.container-x input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark-x {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border: 1px solid #d2d2d2;
}

/* On mouse-over, add a grey background color */
.container-x:hover input ~ .checkmark-x {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-x input:checked ~ .checkmark-x {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark-x:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-x input:checked ~ .checkmark-x:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-x .checkmark-x:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.referee-dropdown {
    width: 11px;
}
.moreReferee{
	display:none;
	padding-left: 20px;}
.distance-p {
    height: 10px;
}
.payment-input-p {
    font-size: 12px;
}
.payment-input{
    font-size: 18px;
    margin-top: 5px;
}
.reject-img{
	height: 15px !important;
    width: auto;
}
.scroll-table, .shipping-table{
    width: 100%;
    border-collapse: collapse;
    overflow-x: auto;
    white-space: nowrap;
}
.scroll-div, .shipping-div2{
	display: block;
    overflow: auto;
}
.faq-padding {
    margin-right: 25px;
}
.ow-bg-transparent{
	background-color:transparent;}
.white50div h2 {
    margin-bottom: 0;
    font-size: 18px;
}
.width50 p {
    font-size: 32px;
    margin-top: 10px;
	min-height: 38px;
}
.cash-icon {
    width: 30%;
}
.divider-yes {
    width: 100%;
    height: 50px;
}
.gold-hover-div:hover{
	cursor:pointer;
	transition:0.35s ease-in-out;
	background-color:#866200;
	color:white;}
        /*jssor slider loading skin spin css*/
        .jssorl-009-spin img {
            animation-name: jssorl-009-spin;
            animation-duration: 1.6s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }

        @keyframes jssorl-009-spin {
            from { transform: rotate(0deg); }
            to { transform: rotate(360deg); }
        }
        
        /*jssor slider bullet skin 032 css*/
        .jssorb032 {position:absolute;}
        .jssorb032 .i {position:absolute;cursor:pointer;}
        .jssorb032 .i .b {fill:#fff;fill-opacity:0.7;stroke:#000;stroke-width:1200;stroke-miterlimit:10;stroke-opacity:0.25;}
        .jssorb032 .i:hover .b {fill:#000;fill-opacity:.6;stroke:#fff;stroke-opacity:.35;}
        .jssorb032 .iav .b {fill:#000;fill-opacity:1;stroke:#fff;stroke-opacity:.35;}
        .jssorb032 .i.idn {opacity:.3;}
        
        /*jssor slider arrow skin 051 css*/
        .jssora051 {display:block;position:absolute;cursor:pointer;}
        .jssora051 .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
        .jssora051:hover {opacity:.8;}
        .jssora051.jssora051dn {opacity:.5;}
        .jssora051.jssora051ds {opacity:.3;pointer-events:none;}
		.jssora051{ width: 35px !important;height: 35px !important;}

#jssor_1{
	margin-top:53px !important;	
}

/**/
.sidebarIconToggle, .openSidebarMenu, .spinner{
	display:none !important;}
.about-div .title-h1{
	color:white;}
.about-div .about-p{
	color:white;	
}
.user-notification{
	margin-left:0;
	margin-right:10px;}
.mini-li{
	padding-left:15px;
}
.title-li{
	color:#b3b3b3 !important;
	font-size:14px;}
.unbold {
    font-weight: 300;
}
.smaller-font{
	font-size: 24px;
}
.product-padding{
	padding-left:15px;}
h1.product-name-h1 {
    font-size: 25px;
}	
.two-button-side {
    width: 150px;
    text-align: center;
}
.two-button-side1 {
    border: 2px solid black;
    background-color: transparent;
    color: black;
	margin-right: 50px;
}
.two-button-side2 {
    border: 2px solid black;
    background-color: black;
    color: white;	
}
.two-button-side2:hover {
	border:2px solid white;	
}
.two-button-side1:hover{
	border:2px solid white;}
.left-100{
	width:100%;}
.left-info {
    float: left;
}
.right-info {
    float: right;
}
.dl-menu {
    height: 100vh;
    overflow: scroll;
}
.dl-menuwrapper{
	display:none;}
.ow-black-btn{
	background-color:black !important;	
}
.ow-black-btn:hover{
	background-color:white !important;
	color:black !important;
	transition:.15s ease-in-out;
	border:1px solid white;	
}
.ow-black-btn:focus{
	box-shadow:none !important;
	-webkit-box-shadow:none !important;
	border:1px solid white !important;}
.ow-black-btn:active{
	box-shadow:none !important;
	-webkit-box-shadow:none !important;
	border:1px solid white !important;}
.right-h1{
	float:right;
}
.white-div-yellow{
	background-color:#f3b918;}
.register-div-css {
    padding: 4px 0;
}
.print-div {
    margin-top: 100px;
    padding-left: 20%;
    padding-right: 20%;
    width: 100%;
}
.first-column {
    float: left;
    padding-top: 85px;
	width: calc(100% - 300px);
}
.second-column {
	float:right;
}
.invoice-p {
    margin: 0;
}
.invoice-item-table {
    width: 100%;
}
.second-row {
    width: 100%;
    margin-top: 0.25cm;
	min-height: 250px;
}
.invoice-item-table {
    width: 100%;
	border-collapse: collapse;
}
.invoice-item-table th{
	text-align:left;
	padding-top: 10px;
    padding-bottom: 10px;
}
.invoice-item-table td{
	padding-top: 10px;
    padding-bottom: 10px;
	vertical-align: top;
}
.th-tr{
	border-bottom: 2px solid black;
    border-top: 2px solid black;
    border-collapse: collapse;
}
.third-row {
    width: 100%;
    border-top: 2px solid black;
}
.invoice-price-p {
    margin-top: 20px;
}
.left-price-div {
    float: left;
	width: 50%;
}
.right-price-div {
    float: right;
}
.text-right{
	text-align:right;
	padding-left: 30px;}
.total-price-td {
    font-weight: bolder;
    font-size: larger;
}
.four-row{
	width:100%;
	margin-top: 150px;}
.left-sign {
    float: left;
    width: 300px;
    border-top: 3px solid black;
}
.right-sign {
    float: right;
	width: 300px;
    border-top: 3px solid black;
}
.invoice-last-p {
    text-align: center;
}
.price-ol {
    padding-left: 15px;
}
.first-row {
    margin-top: 0.5cm;
}
.invoice-item-table th{
	padding-right:10px;}
.last-th{
	padding-right:0 !important;
	text-align:right !important;}
.invoice-item-table td{
	padding-right:10px;}
.last-td{
	padding-right:0 !important;
	text-align:right  !important;}	
.bigger-amount {
    font-weight: bold;
    font-size: 32px;
}
.four-p-mh{
	min-height:60px;}
.normal-pointer{
	cursor:default !important;}
.last-li{
	padding-bottom:100px;
	margin-top: -10px;
}
.border-top100.four-div-container .black-text:hover {
    color: white;
}
.header-left {
    float: left;
}
.header-right {
    float: left;
	margin-left: 1cm;
}
.supreme-img {
    width: 130px;
}

.dck-address-p {
    margin: 0;
	font-size: 12px;
}
.dck-span {
    font-size: 12px;
    font-weight: 400;
}
.dck-title {
    margin-top: 0;
    margin-bottom: 5px;
	font-size: 24px;
}
.left-add-div {
    float: left;
    width: 50%;
}
.right-add-div {
    float: left;
    padding-left: 25px;
	width:50%;
}
.list-li{
	margin-left:18px;}
#display ul{
	padding-left:0;}
.right-phone-div {
    color: white;
	text-align: left;
}
.stockist{
	text-align:center;
	margin-bottom:0;}
.margin-btm-0{
	margin-bottom:0;}
.four-div-p2 {
    font-size: 24px;
    margin-top: 8px;
    margin-bottom: 15px;
	word-break:break-all;
}
.admin-dash .four-img {
    width: 100px;
}
.admin-sales .four-div-p1 {
    min-height: 38px;
}
.same-size-btn{
	width:196px;
}
.same-size-btn2{
	margin-left: 25px;
}
.label-div {
    margin-right: 2%;
    float: left;
    vertical-align: bottom;
    text-align: center;
    width: 18%;
	margin-bottom: 25px;
}
.left-h3{
	float:left;}
.right-h3{
	float:left;
	margin-left: 35px;}
.add-referee-form{
	width:100% !important;}
.add-referee-form td {
    vertical-align: top;
}
.checkbox-product-p {
    font-size: 14px;
}
.label-div input{
	float:left !important;}
.small-h3 {
    margin-bottom: 0;
    margin-top: 0;
}
.second-h3 {
    margin-bottom: 30px;
    margin-top: 20px;
}
.pdf-a {
    color: white;
    text-decoration: underline;
}
.pdf-a:hover{
	color:black;
	transition:.15s ease-in-out;
	cursor:hover;
}
.dck-video {
    width: 49%;
    min-height: 450px;
}
.dck-video3 {
    width: 50%;
    margin-left: 25%;
    margin-top: 30px;
    min-height: 450px;
}
.video-div {
    background-color: #c3c3c3;
    padding-top: 30px;
    padding-bottom: 50px;
}
.video-div .benefit-separate {
    margin-bottom: 50px;
}
.tempo-two-clear{
	clear:both;
}
.admin-sales .four-white-div{
	margin-bottom:25px;
}
.active-black-div{
	background-color:black;
	color:white;
	cursor:auto !important;}
.un-widthdraw-css {
    background-color: black;
	margin-top: calc(50vh - 160px);}
.un-widthdraw-css p{
	color:white;
	text-align: center;}
.un-widthdraw-css h1{
	color:white;}
@media all and (max-height: 650px){
.first-left-div{
    margin-top: calc(50vh - 150px);	
}
}
@media all and (max-width: 1640px){
.three-point-div h2 {
    min-height: 60px;
}
}
@media all and (max-width: 1524px){
.admin-edit-pw {
    margin-bottom: 20px;
}
}
@media all and (max-width: 1500px){
.edit-profile-div2 {
    width: 60%;
}
.print-div {
    padding-left: 10%;
    padding-right: 10%;
}
.un-widthdraw-css{
	width: 50%;
}
}

@media all and (max-width: 1450px){
.shipping-search-btn{
	width: 8%;	
}
.shipping-input, .shipping-select, .shipping-search-btn {
    font-size: 13px;
}
.shipping-select {
    padding: 2.2px 0;
}
.shipping-search-btn {
    padding: 4px 0;}
.same-height-with-date2{
	font-size: 15px !important;
}
.same-height-with-date3 {
	padding: 5px 0;
}
}
@media all and (max-width: 1400px){
.admin-sales .p3-p {
    min-height: 57px;
}
}
@media all and (max-width: 1300px){
.faq-grey-div, .answer-div {
    width: 75%;}
.cart-table{
	font-size: 16px;
}
.continue-shopping {
    font-size: 18px;
}
.continue-shopping .back-btn{
	width:16px;}
.right-cart-div .product-name-h1{
	font-size: 24px;
}
.delete-img {
    width: 25px;
}
.left-add-div {
    width: 70%;
}
.right-add-div{
	width:30%;}
.dck-video3, .dck-video{
	min-height: 300px;	
}
}
@media all and (max-width: 1200px){
.login-modal-content {
    width: 50%;}	
.profile-div {
    width: 150px;
    height: 150px;}	
.edit-profile-pic-btn{
	margin-top: 110px;
}

.right-profile-div {
    width: calc(100% - 200px);
}
.profile-tab-a {
    font-size: 18px;}
.active-tab-a {
    border-bottom: 4px solid black;
}
.profile-tab{
	padding-bottom:0;}
.username {
    margin-bottom: 30px;
    font-size: 27px;
}
.profile-title{
	font-size: 21px;
}
.profile-table {
    font-size: 15px;
}
.smaller-font{
	font-size: 21px !important;
}
}
@media all and (max-width: 1315px){
.reset-password-div {
    width: 50%;}

}
@media all and (max-width: 1300px){
.status-container{
	font-size: 11px;
}
.black-round-div {
    padding-bottom: 1px;
    padding-top: 2px;
    padding-left: 4px;
    padding-right: 4px;
    margin-right: 4px;
}
.status-div{
	font-size: 11px;
}
.white-round-div {
    padding-top: 3px;
    padding-bottom: 1px;
    padding-left: 5px;
    padding-right: 6px;
    margin-right: 4px;
}
.add-referee-form {
    width: 100% !important;
}
.same-size-btn{
	margin-top: 50px;
}
.same-size-btn1{
	margin-left: calc(50% - 208.5px);
}
}
@media all and (max-width: 1270px){
.modal-content-css .icon-div{
	width: 90px;
}
.modal-content-css .benefit-p-div{
	width: calc(100% - 90px);
	padding-left: 20px;
    padding-right: 50px;
}
.modal-content-css .benefit-p{
	height: 90px;
}
.input-group{
	margin-bottom: 25px;
}
.add-to-cart-btn{
	font-size: 16px;
}
}
@media all and (max-width: 1250px){
.right-product-div{
	padding-right: 0;
}
.product-name-h1 {
    font-size: 27px;
}
h1.product-name-h1 {
    font-size: 18px;
}
h3.product-name-h1 {
    font-size: 14px;
}
.product-description {
    font-size: 16px;
}
.open-product {
    font-size: 14px;
}
.big-product-div {
    width: 180px;}
}

@media all and (max-width: 1200px){
.product-name-td {
    font-size: 13px;
}
.smaller-text {
    font-size: 10px !important;
}
.four-white-div {
    min-height: 215px;
}
.announcement-table .announcement-p{
	font-size:16px;}
.three-point-div h2 {
    min-height: 50px;
    font-size: 21px;
    margin-bottom: 0;
}

}


@media all and (max-width: 1150px){
.shipping-input p {
    font-size: 11px;
}
.shipping-input2{
	font-size: 11px;
}
.shipping-input2{
	font-size: 11px;	
}
.shipping-search-btn{
	font-size: 11px;
}
.normal-input {
    padding: 1.5px 0;
}
.shipping-select {
    padding: 1.8px 0;
}
.same-height-with-date{
	padding-top: 3.3px;
    padding-bottom: 3.3px;
}
.same-height-with-date2 {
    font-size: 14px !important;
    padding-top: 2.3px;
    padding-bottom: 4.3px;
}
.same-height-with-date3{
    padding: 4px 0;
}
.width50 {
    width: 80%;
    float: none;
    text-align: center;
    clear: both;
    margin-bottom: 50px;
    overflow: hidden;
}
.second-width50 {
    margin-left: 0;
}
.width50 p{
	margin-bottom: 0;
}
.wallet-big-div .width50 {
        margin-bottom: 30px;
}
.divider-yes {
    width: 100%;
    height: 10px;
}
.register-div-css {
    padding: 3px 0;
}
.admin-sales .four-div-p1 {
    min-height: 57px;
}
}
@media all and (max-width: 1125px){
.middle-menu-div a {
    color: white;
    font-size: 12px;
    padding-left: 8px;
    padding-right: 8px;
}	
}
@media all and (max-width: 1105px){
.four-white-div {
    min-height: 235px;
}	
}
@media all and (max-width: 1100px){
.contact-icon-img {
    width: 50px;
}
.payout-search .shipping-input{
	width:25% !important;
	
}
.payout-search .shipping-search-btn{
	width: 100px;
}
.h1-with-select {
    font-size: 21px !important;
}
.select-with-h1 {
    margin-top: 15px;
    font-size: 12px;
}
.payout-table {
    font-size: 14px;
}
.cash-icon {
    width: 30%;
}
.six-search {
    width: 25% !important;
}
.payout-search .ow-shipping-input-with {
    width: 32% !important;
}
.ow-with-btn {
    width: 32% !IMPORTANT;
}
.ow-with-btn2 {
    margin-right: 1%;
}
.ow-1 {
    margin-top: 20px;
}
}
@media all and (max-width: 1080px){
.admin-sales .p3-p {
    min-height: 76px;
}
}
@media all and (max-width: 1070px){
.shipping-search-btn{
	width: 7.5%;}
}
@media all and (max-width: 1056px){
.three-point-div h2 {
    min-height: 42px;
    font-size: 18px;}
}
@media all and (max-width: 1050px){
.benefit-p-div{
    padding-left: 30px;
    padding-right: 40px;	
}
.four-div-p2 {
    font-size: 21px;}
}

@media all and (max-width: 1000px){
.extra-margin {
    padding-left: 10%;
    padding-right: 10%;
}
.notice-modal-content {
    width: 70%;
}
.left-profile-div {
    width: 100%;
}
.profile-div{
	margin-left: auto;
    margin-right: auto;
}
.right-profile-div {
    width: 100%;
	padding: 0;
	margin-top: 50px;
}
.referee-table{
	font-size:13px;}
.round-profile {
    width: 25px;}
.round-icon {
    width: 25px;
    margin-right: 12px;
}
.faq-grey-div, .answer-div {
    width: 100%;
}
.middle-faq-div{
	font-size: 16px;	
}
.answer-div{
	font-size: 14px;	
}
.big-h1{
	font-size: 36px;	
}

.sales-table{
	font-size:16px;}
.shipping-table{
	font-size: 13px;
}
.details-h1 {
    font-size: 24px;
}
.back-btn2 {
    width: 17px;
}
.white-receipt {
    width: 22px;
}
.fifty-input {
    width: 70%;
    margin-bottom: 7px;
}
.sales-search .shipping-search-btn{
	width: 100px;
}
.product-det .details-h1 {
    margin-bottom: 30px;
}
.width50 {
    width: 100%;}
.wallet-big-div .width50 {
    width: 48%;
    float: left;
	clear:none;
}
.cash-icon {
    width: 50%;
}
.first-50{
	margin-right:4%;}
.right-menu-div1 a{
	font-size: 11px;
}
.print-div {
    padding-left: 7.5%;
    padding-right: 7.5%;
}
.label-div {
    margin-right: 3%;
	width: 30%;
}
}
@media all and (max-width: 992px){
.four-div-p1 {
    min-height: 38px;
}
}
@media all and (max-width: 980px){
.product-desc{
	font-size:15px;	
	width:70%;
}
.product-pic{
	width:70%;	
}
}

@media all and (max-width: 960px){
.right-menu-div1 .menu-padding{
	display:none;}
.open-menu-admin{
	display:inline-block;}
.open-menu-admin .menu-icon{
	display:block;
	width: 20px;
	margin-top: 2px;}
.admin-mobile, .admin-mobile-dl{
	display:block;}
.right-menu-div1{
	display:none;}
}
@media all and (max-width: 950px){
.edit-profile-div2 {
    width: 60%;
}
.edit-profile-div2 {
    width: 100%;
}
.confirm-btn, .change-password-p{
	margin-left: calc(50% - 79px);	
}
.edit-profile-div-small{
    margin-left: auto;
    margin-right: auto;	
}
.flex-container {
    display: block;
}
.left-status-div {
    width: 100%;
    float: none;
	min-height: auto;
	padding-right: 7.5%;}
.info-small-title {
    font-size: 14px;
}
.info-title {
    margin-top: 30px;
}
.continue-shopping {
    font-size: 14px;
}
.continue-shopping .back-btn {
    width: 11px;
}
.right-status-div {
    width: 100%;
    float: none;
	padding-top: 40px;
	padding-left:7.5%;}
.anc-ow-btn {
    margin-left: 0 !important;
}
.same-size-btn{
	margin-left:0;}
.same-size-btn1{
	margin-left:calc(50% - 208.5px);
}
.same-size-btn2{
	margin-left:25px;
}
}
@media all and (max-width: 915px){
.four-p-mh{
	min-height:80px;}
}
@media all and (max-width: 900px){
.left-contact-div, .right-contact-div {
    width: 27.5%;}
.middle-contact-div{
	width:45%;}
.modal-content-css .icon-div {
    width: 60px;
}
.modal-content-css .benefit-p-div {
    width: calc(100% - 60px);
    padding-left: 10px;
    padding-right: 30px;
}
.modal-content-css .benefit-p {
    height: 60px;
    font-size: 14px;
}
.product-modal-content .benefit-separate {
    margin-bottom: 30px;
}
.four-img {
    width: 65px;
}
.four-white-div {
    min-height: 200px;
}
.details-table {
    font-size: 16px;}
.admin-dash .four-middle-div1 {
    margin-left: 2%;
    margin-right: 1%;
}
.admin-dash .four-middle-div2 {
    margin-left: 1%;
    margin-right: 2%;
}
.extra-margin-top {
    padding-top: 10px;
}
.admin-dash .four-white-div{
	width: 23.5%;
}
.dck-video3, .dck-video {
    min-height: 210px;
}

}
@media all and (max-width: 880px){
.reset-password-div {
    width: 75%;
}


}
@media all and (max-width: 850px){
.shipping-search-btn {
    width: 7%;
}
.three-input {
    width: 31% !important;
}
.payout-search .ow-shipping-input-with {
    width: 31% !important;
}
.ow-with-btn {
    width: 31% !IMPORTANT;
}
}
@media all and (max-width: 840px){
.email-verified-modal-content {
    width: 75%;}

}
@media all and (max-width: 830px){
.product-td {
    width: 90px;
}
.cart-table {
    font-size: 14px;
}
.delete-img {
    width: 20px;
}
.right-cart-div .product-name-h1 {
    font-size: 18px;
}
.continue-shopping {
    font-size: 16px;
}
.quantity-td .quantity-field{
    font-size: 14px;
	width: 42px;	
}
.smaller-font{
	font-size: 18px !important;
}

}
@media all and (max-width: 825px){
.withdraw-button, .convert-button{
	font-size: 14px;
}

}
@media all and (max-width: 820px){
.white-h1{
	font-size: 24px;
}
.login-modal-content {
    width: 70%;
}
.title-h3{
	font-size: 16px;	
	text-align: center;
	}
.black-left-div {
    float: none;
    width: 100%;
	text-align: center;
}
.black-right-div {
    float: none;
    width: 100%;
}
.three-white-div{
    width: 200px;
    margin-left: auto;
    margin-right: auto;	
}
.discount-png {
    width: 50px;
    margin-right: 10px;
	margin-bottom:20px;
}
.shipping-h1{
	font-size: 24px;
}
.filter-select{
	margin-top: 20px;
    font-size: 14px;
}
.admin-add {
    margin-right: 20px;
    margin-top: 12px;
    font-size: 15px;
}
}
@media all and (max-width: 800px){
.payment-white-div{
	font-size: 14px;	
}
.left-btm-page, .middle-btm-page, .right-btm-page, .transparent-select{
	font-size:12px;
}
.round-black-page{
	padding-left: 5px;
    padding-right: 7px;
    padding-bottom: 2px;	
}
.explanation-p{
	font-size: 14px;
}
.right-sign{
	width:200px;
	border-top: 2px solid black;}
.left-sign {
    width: 200px;
    border-top: 2px solid black;
}
.dck-video, .dck-video3 {
    width: 100%;
    margin-bottom: 20px;
	margin-top:0;
	margin-left:0;
}
.dck-video3, .dck-video {
    min-height: 380px;
}
}
@media all and (max-width: 790px){
.benefit-p{
	font-size:14px;
	height: 80px;}
.icon-div{
    width: 80px;	
}
.benefit-p-div{
	width: calc(100% - 80px);
}
.benefit-div{
	margin-bottom:0;}
.username{
	font-size: 24px;
}
.three-btn-a{
	display: block;
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;}
}
@media all and (max-width: 780px){
.left-add-div, .right-add-div {
    width: 100%;
    float: none;
}
.right-add-div {
	margin-top:40px;
	padding-left:0;
}

}
@media all and (max-width: 770px){
.logo-img {
    width: 50px;
	margin-top:5px;
}
.middle-menu-div a{
	font-size:12px;}
.right-menu-div a{
	font-size:12px;}
.middle-menu-div {
    width: calc(100% - 170px);}
.left-logo-div {
    width: 50px;
}
.phone-p1a{
	display:none;}
.call-a{
	display:block;
	color: white;
    text-decoration: underline;}
.call-function{
	display:block;
	color: black;
    text-decoration: underline;}
.not-call{
	display:none;}
.cart-img {
    width: 17px;}
.logo-img {
    width: auto !important;
    height: 15px !important;
}
.admin-sales .p3-p {
    min-height: 95px;
}
}
@media all and (max-width: 765px){
.admin-sales .p3-p {
    min-height: 114px;
}
}
@media all and (max-width: 760px){
.four-div-p2 {
    font-size: 18px;
}
.four-div-p1 {
    min-height: 32px;
    font-size: 14px;
}
.admin-sales .p3-p {
    min-height: 72px;
}
}
@media all and (max-width: 750px){
.contact-p {
	font-size:14px;}
.notice-modal-content {
    margin-top: calc(50vh - 100px);}
.notice-modal-content {
    width: 90%;
}
.left-product-div {
    width: 100%;
    float: none;
}
.big-product-div {
    text-align: center;
	float: none;
    margin-left: auto;
    margin-right: auto;
}
.big-product-css {
    text-align: center;
    max-height: 350px;
    max-width: 100%;
	width: auto;
}
.right-product-div {
    width: 100%;
    padding: 0;
    text-align: center;
}
.big-product-div{
	margin-bottom: 0;
    margin-top: 25px;
}
}
@media all and (max-width: 740px){
.four-white-div{
	width: 48%;
	margin-bottom: 30px;
}
.four-middle-div1 {
    margin-left: 4%;
    margin-right: 0;
}
.four-middle-div2 {
    margin-left: 0;
    margin-right: 4%;
}
.four-white-div {
    min-height: 200px;}
.four-white-div {
    min-height: 180px;
}
.four-p-mh {
    min-height: 60px;
}
.admin-dash .four-white-div{
	margin-bottom: 0;
}
.admin-sales .four-white-div{
	margin-bottom: 30;
}
}
@media all and (max-width: 720px){
.extra-margin {
    padding-left: 0;
    padding-right: 0;
}
.message-us-p{
	font-size: 18px;
}
.opt-msg{
	font-size: 14px;
}

}
@media all and (max-width: 710px){
.three-container-div {
    display: block;
    width: 100%;
}
.shipping-input {
    width: 30%;
	margin-right: 0;}
.middle-shipping-div {
    margin-left: 4.3%;
    margin-right: 4.3%;
}
.shipping-search-btn {
    width: 30%;
}
.three-input {
    width: 100% !important;
    margin-left: 0 !important;
}
.fifty-input{
	width:85%;}
.payout-search .shipping-search-btn {
    width: 25%;
    margin-top: 10px;
    padding: 3px;
}
.sales-search .shipping-search-btn {
    width: 30%;
    margin-left: 4%;
}
.payout-search .ow-shipping-input1 {
    width: 32% !important;
}
.ow-shipping-btn1 {
    width: 32% !important;
}
.ow-with-btn2 {
    margin-right: 0.2%;
}
}
@media all and (max-width: 700px){
.middle-contact-div {
    border-left: 0;
    border-right: 0;
}
.left-contact-div, .middle-contact-div, .right-contact-div {
	float:none;
	width:100%;
	padding-top: 30px;
    padding-bottom: 30px;}
.contact-us-div{
	padding-bottom: 50px;
	padding-top: 150px;	
}
.border-black{
	margin-bottom:30px;}
.one-row-container {
    padding-top: 20px;
}
.answer-div {
    padding: 0;
}
.left-faq-icon-div, .little-faq-icon{
	width:0;
	padding:0;}
.middle-faq-div{
	width: calc(100% - 60px);
}
.product-modal-content{
	padding: 20px 20px;
}
.h1-title {
    font-size: 24px;
}
.announcement-h1 {
    font-size: 21px;
	margin-top: 0;
}
.announcement-icon {
    height: 18px;
}
.right-add-btn{
	font-size: 14px;
    margin-top: -7px;
}
.details-h1 {
    font-size: 21px;
}
.back-btn2 {
    width: 15px;
}
.details-table {
    font-size: 14px;
}
.payment-input {
    font-size: 15px;
    margin-top: 3px;
}
.invoice-h1 {
    font-size: 27px;
}
.invoice-p, .invoice-item-table, .left-price-div, .right-price-div, .invoice-last-p{
	font-size: 14px;
}
.four-div-p2 {
    font-size: 16px;
    margin-top: 5px;
}
.admin-sales .p3-p {
    min-height: 80px;
}
}
@media all and (max-width: 693px){
.admin-sales .p3-p {
    min-height: 96px;
}	
}
@media all and (max-width: 675px){
.three-point-div h2 {
    min-height: 63px;}

}
@media all and (max-width: 670px){
.profile-div {
    width: 100px;
    height: 100px;
}

.camera-icon {
    width: 15px;}

.edit-profile-pic-btn {
    margin-top: 64px;
}
.edit-profile-icon {
    width: 12px;}
.profile-a{
    font-size: 13px;	
}
.edit-profile-p {
    margin-top: 5px;
}

.profile-tab-a {
    font-size: 16px;
	margin-right: 20px;
}
.username {
    font-size: 21px;
	margin-bottom: 20px;
}
.shipping-h1{
	font-size: 18px !important;
}
.filter-select {
    margin-top: 16px;
    font-size: 13px;
}
.admin-add{
	font-size: 12px;
}
.reason-div .product-add-btn {
    margin-top: 2px;
}
.ow-update-pic-btn{
	margin-top: -35px !important;
}
.referee-p {
    font-size: 14px;
}
.referee-dropdown {
    width: 9px;
}
.admin-sales .four-div-p1 {
    min-height: 80px;
}
.admin-dash .four-img {
    width: 80px;
}
.admin-sales .p3-p {
    min-height: 96px;
}
}
@media all and (max-width: 660px){
.first-h1{
    font-family: 'SF Compact Text Heavy';
    font-size: 21px;
}	
.first-p{
	font-weight:normal;}
.open-menu{
		display:block;}	
.menu-icon {
    height: 22px;
}	
.menu-padding{
	display:none;}
.menu-icon{
	display:block;}
.dropdown{
	display:none;}
.h1-title{
	margin-top:0;}
.filter-select {
    margin-top: 0px;}
.h1-with-select {
    font-size: 15px !important;
}
.select-with-h1 {
    margin-top: 0px;}
.admin-add{
	margin-top: 0;
}
.reason-div .product-add-btn {
    margin-top: -5px;
}
.sidebarIconToggle, .spinner{
	display:block !important;}
.right-info{	
	margin-top:15px !important;}
.dl-menuwrapper{
	display:block;}
.right-h1 {
    margin-top: 0;
}
.label-div {
    margin-right: 3%;
    width: 47%;
}
}
@media all and (max-width: 655px){
.one-box-div {
    width: 100%;}
.icon-div{
	margin-left: 50px;
	}
.benefit-p-div {
    width: calc(100% - 130px);
	padding-right: 50px;
}
.tempo-clear {
    clear: none;
}
.modal-content-css .icon-div {
    margin-left: 0;
}
.modal-content-css .benefit-p-div {
    padding-right: 0;
}
}
@media all and (max-width: 650px){
.menu-padding{
	display:none;}
.left-btm, .middle-btm, .right-btm {
    float: none;
    width: 100%;
    text-align: center;
}
.middle-btm{
	margin-bottom: 25px;
    margin-top: 25px;
}
.announcement-table .announcement-p {
    font-size: 13px;
	text-align:left;
}
.edit-announcement-img {
    width: 15px;
}
.product-det .details-h1{
	font-size: 21px !important;
}
.product-input{
	margin-bottom: 25px;
}
.reject-img {
    height: 10px !important;}
.dck-video3, .dck-video {
    min-height: 300px;
}
}
@media all and (max-width: 640px){
.details-table {
    font-size: 14px;}
.receipt-img {
    max-width: 270px;
    max-height: 400px;
}
}
@media all and (max-width: 630px){
.cart-table {
    font-size: 12px;
}
.admin-dash .four-white-div {
    width: 47.5%;
	margin-bottom: 10px;
}	
.admin-dash .four-middle-div1 {
    margin-left: 5%;
    margin-right: 0;
}
.admin-dash .four-middle-div2 {
    margin-right: 5%;
    margin-left: 0;
}
.extra-margin-top {
    padding-top: 0;
}
.admin-sales .four-div-p1 {
    min-height: 36px;
}
}
@media all and (max-width: 620px){
.shipping-table {
    font-size: 11.5px;
}
}
@media all and (max-width: 610px){
.middle-shipping-div {
    margin-left: 4.2%;
    margin-right: 4.2%;
}
.admin-big-div td, .same-size{
	font-size: 12px;
}
}
@media all and (max-width: 600px){
.first-right-div{
		width:100%;
		float:none;
		text-align:center;
		margin-top: 50px;}
.oil-png{
	float:none;
	text-align:center;
	height: calc(70vh - 150px);}
.first-left-div {
    margin-top: 0;
	float:none;
	width:100%;
	text-align: center;
}
.login-modal-content {
    width: 90%;
}
.modal-content-css .title-h1{
    font-size: 21px !important;	
}

.announcement-p{
	font-size: 18px;
	padding-left:5px;}

.left-profile-div-user {
    float: none;
    width: 100%;
}
.right-profile-div-transfer {
    float: left;
    margin-top: 0;
}
.left-profile-div-user .username {
    margin-bottom: 12px;
}
.sales-table {
    font-size: 12px;
}
.rate-div p {
    font-size: 12px;
}
.small-h3{
	clear:both;
	padding-top: 10px;}
.second-h3{
    margin-top: 15px;	
}
}
@media all and (max-width: 580px){
.wallet-big-div .convert-button{
	padding: 10px 5px;
}
.wallet-big-div .withdraw-button{
    font-size: 14px;
    clear: both;
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
}
.wallet-big-div .convert-button{
    font-size: 14px;
    clear: both;
    width: 100%;
    margin-left: 0;
    margin-bottom: 10px;
}
}
@media all and (max-width: 575px){
.admin-sales .p3-p {
    min-height: 48px;
}

}
@media all and (max-width: 550px){
.about-p{
	width:100%;}
.reset-password-div {
    width: 100%;
}
.continue-shopping {
    font-size: 14px;
}
.left-cart-bottom-div {
    float: none;
    text-align: center;
}
.right-cart-div {
    float: none;
    text-align: center;
}
.checkout-btn {
    float: none;
}
.sub-total{
	line-height:50px;}
.cart-h1 {
    text-align: center;
}
.info-product-pic {
    max-width: 50px;
    max-height: 50px;
}
.product-tr {
    height: 80px;
}
.left-btm-page{
	display:none;}
.right-btm-page{
	width: 25%;
}
.middle-btm-page {
    width: 75%;
    text-align: left;
}
.ow-mbtm-reason {
    margin-bottom: 4px !important;
}
.select-with-h1 {
    margin-top: 0px;
    float: left;
    margin-left: 0;
    clear: both;}
.smaller-font {
    font-size: 14px !important;
}
}
@media all and (max-width: 535px){
.middle-shipping-div {
    margin-left: 4.1%;
    margin-right: 4.1%;
}
}
@media all and (max-width: 520px){
.message-us-p {
    font-size: 16px;
    margin-bottom: 0;
}
.opt-msg {
    font-size: 13px;
}
}
@media all and (max-width: 505px){
.four-white-div {
    min-height: 180px;}

}
@media all and (max-width: 500px){
.bold-logo {
    width: 220px;}
.password-table .profile-td1 {
    width: 140px;
    font-size: 13px;
}	
.visible-span2 .login-input-icon {
    width: 15px;}
.visible-span2{
	margin-left:-20px;}
.password-table .edit-profile-input {
    padding-right: 17px;
}
.anc-ow-btn {
    margin-left: 0 !important;
    width: 100%;
}
.back-a2 {
    margin-left: 0;
    margin-top: 25px;
    display: block;
	text-align:center;
}
.shipping-h1{
	width: 100%;
}
.filter-select {
    margin-top: 5px;
    float: left;
    padding-left: 0;
    margin-left: 0;
    font-size: 15px;
}
.details-table {
    font-size: 12px;
}
.receipt-img {
    max-width: 200px;
    max-height: 350px;
}
.details-h1 {
    font-size: 18px;
}
.back-btn2 {
    width: 13px;
}
.admin-add{
	margin-top: 0;
	margin-right:0;
}
.reason-div .product-add-btn {
    margin-top: -30px;
}
.three-point-div h2 {
    font-size: 14px;
	min-height: 48px;
}
.three-point-div p {
    font-size: 21px;
}
.transfer-button {
    width: 100%;}
.withdraw-button, .convert-button{
	width: 100%;
	float: none;
	margin-left:0;
}
.convert-button {
    margin-top: 15px;
}
.cash-icon {
    width: 75%;
}
.white50div h2{
	font-size: 15px;
}
.width50 p {
    font-size: 24px;}
.right-info {
    margin-top: 15px !important;
    float: right !important;
    width: auto !important;
}
.right-h1 {
    margin-top: 0;
    text-align: left;
    margin-bottom: 0;
    font-weight: 300;
}
.invoice-h1 {
    font-size: 24px;
}
.invoice-p, .invoice-item-table, .left-price-div, .right-price-div, .invoice-last-p{
	font-size: 13px;
}
.left-sign, .right-sign {
    width: 120px;
}
.first-column {
    padding-top: 64px;
}
.bigger-amount{
	font-size: 26px;
}
.same-size-btn{
    margin-left: calc(50% - 98px);
	margin-top: 10px;
}
.small-h3{
	font-size:16px;}
.dck-video3, .dck-video {
    min-height: 240px;
}
}
@media all and (max-width: 480px){
.email-verified-modal-content {
    width: 90%;
}
.admin-big-div .left50{
	width:100%;
	margin-left:0;
}
.admin-big-div td, .same-size {
    font-size: 14px;
}
}
@media all and (max-width: 475px){
.middle-shipping-div {
    margin-left: 4%;
    margin-right: 4%;
}	
	
}
@media all and (max-width: 450px){
.icon-div {
    margin-left: 0;
}	
.benefit-p-div {
    width: calc(100% - 80px);
    padding-right: 0px;
}	
.point-h1 {
    font-size: 24px;
}
.details-h1 {
    font-size: 15px;
}
.back-btn2 {
    width: 10px;
}
.container-x{
	font-size:12px;}
.right-price-div {
    width: 50%;
}
.text-right {
    padding-left: 10px;
}
.gross-table{
	float:right;}
.left-h3{
	float:none;
	clear:both;
	margin-bottom:0;}
.right-h3{
	float:none;
	margin-left: 0;
	margin-top:0;}
.width50 p {
    font-size: 21px;
}
}
@media all and (max-width: 445px){
.admin-sales .p3-p {
    min-height: 64px;
}	
}
@media all and (max-width: 440px){
.explanation-p {
    font-size: 12.5px;
}	
.invoice-p, .invoice-item-table, .left-price-div, .right-price-div, .invoice-last-p{
	font-size: 11px;
}
.four-row{
	margin-top: 70px;
}
}

@media all and (max-width: 430px){
.sales-table {
    font-size: 10px;
}
.shipping-input {
    width: 31%;}
.middle-shipping-div {
    margin-left: 1.3%;
    margin-right: 1.3%;
}
.fifty-input {
    width: 100% !important;
}
.sales-search .shipping-search-btn{
	margin-left: 1%;
}
}
@media all and (max-width: 420px){
.reset-password-div .password-input{
	font-size:12px;}
.four-p-mh {
    min-height: 80px;
}

}
@media all and (max-width: 406px){
.admin-sales .four-div-p1 {
    min-height: 48px;
}
.admin-sales .p3-p {
    min-height: 64px;
}
}
@media all and (max-width: 405px){
.status-container {
    font-size: 9px;
}
.yellow-tick {
    width: 4px;
}
.black-round-div {
    padding-bottom: 2px;
    padding-top: 0px;
    padding-left: 4.5px;
    padding-right: 4.5px;
    margin-right: 1px;
}
.status-div {
    font-size: 8px;
    padding-left: 3px;
    padding-right: 6px;
}
.white-round-div {
    padding-top: 1px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 5px;
    margin-right: 1px;
}
}
@media all and (max-width: 400px){
.username {
    font-size: 16px;}	
.profile-tab-a {
    font-size: 14px;}
.profile-title {
    font-size: 16px;
}
.profile-table {
    font-size: 14px;
}
.confirm-btn {
    font-size: 18px;
	margin-left: calc(50% - 73.375px);}
.change-password-p {
    width: 146.75px;
	margin-left: calc(50% - 73.375px);}
.modal-content-css .title-h1{
    font-size: 16px !important;	
}
.four-white-div{
	font-size: 14px;
}
.shipping-input {
    width: 46%;
}
.shipping-search-btn {
    width: 46%;
}
.middle-shipping-div {
    margin-left: 0;
    margin-right: 0;
}
.second-shipping {
    margin-left: 6%;}
.sales-search .shipping-search-btn {
    margin-left: 0;
    width: 46%;
    margin-top: 10px;
    padding: 5px;
}
.three-point-div {
    width: 32%;
	padding: 0 5px;}
.middle-point-div {
    margin-left: 2%;
    margin-right: 2%;
}
.member-btn{
	margin-top:10px;}
.six-search{
	margin-left: 0 !important;}
.ow-shipping-btn1 {
    margin-left: 0;
}
.ow-with-btn3 {
    margin-left: 0.2%;
}
.ow-with-btn4 {
    margin-left: 0;}
.admin-dash .four-img {
    width: 60px;
}
.same-size-btn {
    font-size: 12px;
    width: 150px;
    margin-left: calc(50% - 75px);
}
.label-div {
    margin-right: 0;
    width: 100%;
    margin-bottom: 40px;
}
}
@media all and (max-width: 380px){
.login-modal-content {
    width: 100%;
}
.password-table .profile-td1 {
    width: 125px;
    font-size: 12px;
}
.dck-video3, .dck-video {
    min-height: 180px;
}
.un-widthdraw-css {
    width: 85%;
}
}
@media all and (max-width: 375px){
.shipping-h1 {
    font-size: 14px !important;
}
.filter-select{
	font-size: 13px;
}
.reason-div .product-add-btn {
    margin-top: -27px;
    font-size: 12px;
}
}
@media all and (max-width: 360px){
.announcement-h1 {
    font-size: 21px;
}
.announcement-p{
	font-size: 16px;	
}
.phone-png {
    width: 50px;
	margin-right: 12px;}
.phone-p1{
	margin-top:0;}
.call-a{
	font-size: 14.5px;
}
.left-phone-div {
    margin-left: calc(50% - 110px);
}
}
@media all and (max-width: 350px){
.receipt-img {
    max-width: 120px;
    max-height: 250px;
}	
.details-h1 {
    font-size: 16px;
}
.back-btn2 {
    width: 11px;
}
.cash-icon {
    width: 100%;
}
.width50 p {
    font-size: 18px;
}
}
@media all and (max-width: 345px){
.admin-sales .p3-p {
    min-height: 96px;
}
}
@media all and (max-width: 335px){
.profile-tab-a {
    font-size: 12px;
}	
.invoice-p, .invoice-item-table, .left-price-div, .right-price-div, .invoice-last-p{
	font-size: 10px;
}
}
@media all and (max-width: 330px){
.admin-sales .four-div-p1 {
    min-height: 64px;
}
.label-div img {
    width: 60px;
}
.admin-sales .p3-p {
    min-height: 96px;
}
}
@media all and (max-width: 320px){
.width50 p {
    font-size: 16px;
}

}
@media all and (max-width: 310px){
.status-div{
	padding-left: 1px;
    padding-right: 4px;
}	
}

.cart-table {
    width: 100%;
    border-collapse:collapse;
    font-size: 18px;
}
.cart-table th{
	text-align:left;
    padding: 6px 5px;
    line-height: 25px;
    width: 100px;
    height: 38px;
}
.cart-table td{
	text-align:left;
    line-height: 25px;
    width: 120px;
    height: 38px;
}
@media print {
	#header{
		display:none !important;}
	.footer-div{
		display:none !important;}
	.print-div{
		width:21cm;
		padding-left: 1.25cm;
    	padding-right: 1.25cm;
		margin-top:1cm;}	
	.first-row {
    	margin-top: 0.25cm;
	}
	.invoice-item-table th{
		padding-right:0.25cm;}
	.last-th{
		padding-right:0 !important;
		text-align:right !important;}
	.invoice-item-table td{
		padding-right:0.25cm;}
	.last-td{
		padding-right:0 !important;
		text-align:right  !important;}	
	.second-row{
		min-height:9cm;}	
	.print-btn{
		display:none;}
}
@media print{
    .print{
        visibility: hidden;
    }
}